{% extends "admin_base.html" %}

{% block title %}

Gallery

{% endblock %}

{% block content %}
<button class="menu-btn" onclick="toggleSidebar()">
☰
</button>

<div class="overlay" onclick="closeSidebar()"></div>
<div class="dashboard">

<aside class="sidebar">

<h2>College Admin</h2>

        <a href="/admin/dashboard">🏠 Dashboard</a>

        <a href="/admin/forms">📄 Admission Forms</a>

        <a href="/admin/gallery">🖼 Gallery</a>

        <a href="/admin/courses">🎓 Courses</a>

        <a href="/admin/faculty">👨‍🏫 Faculty</a>

        <a href="/admin/logout">🚪 Logout</a>

</aside>

<main class="content">

<h1>Gallery Management</h1>

<br>

<form method="POST" enctype="multipart/form-data">

<input
type="file"
name="image"
required>

<button class="upload-btn">

Upload

</button>

</form>

<div class="gallery-grid">

{% for image in images %}

<div class="gallery-card">

<img
src="{{ url_for('static', filename=image.image_path) }}">

<br><br>

<a
class="delete-btn"
href="/admin/gallery/delete/{{ image.id }}">

Delete

</a>

</div>

{% endfor %}

</div>

</main>

</div>

{% endblock %}