{% extends "base.html" %}

{% block title %}

Courses

{% endblock %}

{% block content %}


<section class="container">

    <div class="course-grid">

        {% for course in courses %}

        <div class="course-box">

            <img
            src="{{ url_for('static', filename=course.image_path) }}"
            alt="{{ course.course_name }}">

            <div class="course-content">

                <h2>{{ course.course_name }}</h2>

                <p><b>Duration:</b> {{ course.duration }}</p>

                <p><b>Fees:</b> {{ course.fees }}</p>

                <p>{{ course.description }}</p>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}